.root {
    -fx-background-color: linear-gradient(from 10px 10px to 600px 600px, #3D353C, #68687d);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

.label {
    -fx-text-fill: #71baf8;
    -fx-font-size: 24px;
}

.button {
    -fx-font-size: 14px;
    -fx-background-radius: 15px;
}